---
import HomeLayout from '../layouts/home.astro'
import Hero from '../components/site/containers/home/Hero.astro'
import CardButton from '../components/systems/containers/CardButton.astro'
import { navigationData } from '../constants/navigation'
---

<HomeLayout title="The Wheels - Multi purpose design system for human society.">
  <Hero />
  <nav class="twls-container horizontal">
    <a href="/kitchen-sink/" class="twls-button">Kitchen sink</a>
  </nav>
  <article>
  {navigationData.map(item => 
    <section class="twls-index-nav-container">
      <h2 class="heading">{item.category}</h2>
      <div class="twls-index-nav-list">
        {item.items.map(item =>
          <CardButton href={item.href} title={item.title} caption={item.caption} ctaLabel={item.ctaLabel} />
        )}
      </div>
    </section>
  )}
  </article>
</HomeLayout>